* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #F5F5DC;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

nav {
    background-color: #004225;
    padding: 18px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    color: white;
    font-size: 24px;
    font-weight: 500;
    padding-left: 12px;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

li {
    margin: 0 24px;
}

a {
    text-decoration: none;
    color: white;
}

#hero {
    display: flex;
}

.hero-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#hero article {
    flex: 1;
    padding: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    height: auto;
}

#hero p {
    text-align: justify;
}

#hero h1 {
    font-size: 36px;
    margin-bottom: 24px;
}

#about {
    padding: 64px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about {
    width: 40%;
    margin-top: 32px;
}

.about h2 {
    font-size: 36px;
    margin-bottom: 32px;
}

.about p {
    text-align: justify;
    margin-top: 24px;
}

.about-image {
    width: 100%;
    height: auto;
}

.text-accent {
    color: #FFB000;
}

#menu {
    background-color: white;
    padding: 72px 16px;
}

#menu h2 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 24px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    padding: 0px 24px;
}

.menu-content {
    max-width: 400px;
    border: 2px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #ddd;
    padding: 48px 28px;
    margin: 24px;
    transition: transform 0.2s;
}

.menu-content:hover {
    transform: scale(1.1);
}

.menu-title {
    font-size: 24px;
    text-align: center;
    margin: 12px 0;
    color: #004225;
}

.menu-img {
    width: 100%;
    height: auto;
}

.menu-desc {
    text-align: justify;
}

.img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100px;
}

footer p {
    text-align: center;
    font-size: 18px;
    padding: 32px 0;
}

.slide-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.slideshow {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: 0.4}
    to {opacity: 1}
}

@media screen and (max-width: 1280px) {
    /* Adjustments for tablets */

    nav {
        flex-direction: row;
        align-items: center;
    }

    ul {
        margin-top: 12px;
        justify-content: flex-start;
    }

    li {
        margin: 12px 20px;
    }

    #hero {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #hero article {
        width: 100%;
        padding: 140px 64px;
    }

    #about {
        padding: 120px 24px;
    }

    .about {
        width: 100%;
    }

    #menu {
        padding-top: 120px;
    }

    .menu-content {
        max-width: 300px;
        margin: 12px;
        padding: 24px;
    }
}


@media screen and (max-width: 768px) {
    nav {
        align-items: center;

    }

    ul {
        margin-top: 12px;
        justify-content: flex-start;
    }

    li {
        margin: 0px 18px;
    }

    #hero {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #hero article {
        width: 100%;
        padding: 24px;
    }

    #about {
        padding: 48px 24px;
    }

    .about {
        width: 100%;
    }

    .menu-content {
        margin: 12px;
    }
}
