* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
  }

body {
    font-family: Roboto;
    background-color: #F5F5DC;
    box-sizing: border-box;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

nav {
    background-color: #004225;
    padding: 18px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    color: white;
    font-size: 24px;
    font-weight: 500;
    padding-left: 12px;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: end;
}

li {
    margin: 0 24px;
}

a {
    text-decoration: none;
    color: white;
}

#hero {
    display: flex;
    padding: 0px;
    height: 100vh;
}

.hero-image {
    max-width: 100%;
    min-height: 100vh;
    object-fit: cover;
}

#hero article {
    width: 70%;
    height: auto;
    padding: 0px 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    background-color: white;
}

#hero h1 {
    font-size: 54px;
}

#about {
    padding: 64px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about {
    width: 40%
}

.about h2 {
    font-size: 48px;
    margin-bottom: 32px;
    padding-top: 24px;
}

.about p {
    text-align: justify;
    margin-top: 32px;
}

.about-image {
    max-height: 500px;
    max-width: 100%;
}

.text-accent {
    color: #FFB000;
}

#menu {
    background-color: white;
    padding: 32px 16px;
}

#menu h2 {
    font-size: 48px;
    text-align: center;
    margin-bottom: 32px;
    padding-top: 32px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.menu-content {
    max-width: 400px;
    border-style: solid;
    border-width: 2px;
    border-color: #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #ddd;
    padding: 18px 24px;
    margin: 24px 32px;
    transition: transform 0.2s;
}

.menu-content:hover {
    transform: scale(1.1);
}

.menu-title {
    font-size: 28px;
    text-align: center;
    margin: 18px 0px;
}

.menu-img {
    max-height: 200px;
}

.menu-desc {
    text-align: justify;
}

.img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 100px;
}

footer p {
    text-align: center;
    font-size: 18px;
    padding: 32px 0px;
}

.slide-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.slideshow {
display: none;
}

.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
margin-top: -22px;
margin-left: 5px;
margin-right: 5px;
padding: 16px;
color: white;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}

.next {
right: 0;
border-radius: 3px 0 0 3px;
}

.prev {
left: 0;
border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}


.dot {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

.active, .dot:hover {
background-color: #717171;
}

.fade {
animation-name: fade;
animation-duration: 1.5s;
}

@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}